html{
    background-image: url('img/5_background/background.png');
    background-attachment: fixed;
}

body{
    font-size:36px;
    margin:0 80px;
}

a{
    text-decoration: none;
    color:black;
    font-size:56px;
}

a:hover{
    font-weight:bold;
}

.list{
    font-size:40px;
    gap:10px;
    margin-top:50px;
    position:relative;
}

.list li{
    display:flex;
    align-items: center;
    gap:10px;
    margin-top:2px;
    color:black;
}

#manualList{
    display:flex;
    justify-content: center;
    align-items:center;
}