html {
    background-image: url('img/5_background/background.png');
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

canvas {
    background-color: black;
    display: block;
}

.Canvas {
    position: relative;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'zabars', 'Arial', 'Helvetica', 'sans-serif';
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5)
}

.hover {
    cursor: pointer;
}

.hover:hover {
    color: orange;
}

.backToMenu {
    font-size: 80px;
    margin-left: 20px !important;
}

.gameplayImg {
    width: 40px;
    height: 40px;
}

.Leertaste {
    height: 45px;
    width: 80px;
}

.display-none {
    display: none !important;
}

/* .startScreen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    width: 80%;
    height:80%;
    font-size: 100px;
    color: rgba(255, 165, 0, 0.8);
} */

.startScreen {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: flex-start;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat; */
    width: auto;
    height:auto;
    font-size: 100px;
    color: rgba(255, 165, 0, 0.8);
}

#startButton{
    position:absolute;
    z-index:99;
}

/* #backgroundImage{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:fill;
} */

#backgroundImage{
    width:100%;
    height:480px;
    object-fit:contain;
}

.startScreen p {
    margin: 20px 0 20px 0px;
}

.gameOverScreen {
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
    background-position: 50% 50%;
    width: 900px;
    height: 480px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 60px;
    color: rgba(255, 165, 0, 0.8);
}

.gameOverScreen a {
    text-decoration: none;
    color: rgba(255, 165, 0, 0.8);
}

.gameOverScreen a:hover {
    color: rgba(255, 165, 0, 1);
}

.gameWonScreen {
    background-image: url('img/9_intro_outro_screens/win/won_1.png');
    background-position: 50% 50%;
    margin: 20px 0 0 0;
    width: 900px;
    height: 190px;
    margin-bottom: 1;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 60px;
    color: rgba(255, 165, 0, 0.8);
}

.gameWonScreen a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

#playAgainTextWon{
    position:absolute;
    top:80%;
    left:20%;
}

#backToStartWon{
    position:absolute;
    top:80%;
    right:20%; 
}

.gameWonScreen a:hover {
    color: rgba(0, 0, 0, 1);
}

.gameOverImage {
    width: 900px;
    height: 480px;
}

.icons {
    width: 80px;
}

.toggleFullscreen {
    position: absolute;
    bottom:1%;
    right:1%;
}

.volume_mute_buttonWhileGameIsRunning {
    position: absolute;
    width: 60px;
    top: 5%;
    left: 80%;
}

.volume_mute_button {
    position: absolute;
    top: 2%;
    right: 1%;
}

.toggleFullscreenWhileGameIsRunning {
    position: absolute;
    width: 60px;
    top: 75%;
    left: 85%;
}

#canvasDiv {
    position: relative;
}

.playButtons {
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.playButtons img {
    width: 60px;
}

.playButtons:hover {
    cursor: pointer;
}

.controlbuttons {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.ImpressumUndDatenschutz {
    position:absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    bottom:1%;
    left: 2%;
}

.Impressum {
    font-size: 48px;
    text-decoration: none;
    color: black;
}

.Impressum:hover {
    font-weight: bold;
}

.turnDevice {
    background-image: url('img/5_background/background.png');
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    z-index:999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

.mobile-only {
    display: flex;
    gap: 40px;
}

/*AB HIER FULLSCREEN*/

.canvasFullscreen {
    width: 100vw;
    height: 100%;
}

.ImpressumUndDatenschutzonFullscreen {
    position: absolute;
    top: 75%;
}

.gameOverScreenOnFullscreen {
    width: 100vw;
    height: 100vh;
}

.startScreenInFullscreen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 150px;
    color: rgba(255, 165, 0, 0.8);
}

.toggleFullscreeninFullscreen {
    position: absolute;
    top: 90%;
    left: 90%;
    width: 100px;
}

.volume_mute_button_Startscreen_Fullscreen {
    position: absolute;
    top: 2%;
    left: 90%;
    width: 100px;
}

.controles_Fullscreen {
    left: 1600px;
    top: 100px;
    width: 100px;
}

.volume_mute_buttonWhileGameIsRunningInFullscreen {
    position: absolute;
    top: 5%;
    left:90%;
    width: 100px;
}

.toggleFullscreenWhileGameIsRunningInFullscreen {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 100px;
}

/*BIS HIER FULLSCREEN*/

.relocateControlButtonWalkingLeft {
    position: absolute;
    right: 20px !important;
}

@media (max-width: 1050px) {
    .toggleFullscreeninFullscreen{
        left:85%;
    }

    .volume_mute_buttonWhileGameIsRunningInFullscreen{
        left:85%;
    }
}

@media(max-width:930px) {
    .Canvas {
        width: 100vw;
        height: 1;
    }

    .gameOverScreen {
        width: 100vw;
    }

    .gameWonScreen {
        width: 80vw;
    }
}

@media (max-width:860px){
    #backgroundImage{
        height:auto;
    }
}

@media (max-height:480px){
    #backgroundImage{
        height:100vh;
        width:auto;
    }
}

@media (max-width: 800px) {
    .toggleFullscreenWhileGameIsRunningInFullscreen,
    .volume_mute_buttonWhileGameIsRunningInFullscreen {
        width: 60px;
    }
}

@media(max-width:782px) {
    #playAgainTextWon{
        left:2%;
    }
    
    #backToStartWon{
        right:2%; 
    }
}

@media(max-width:660px) {
    .toggleFullscreeninFullscreen{
        left:80%;
    }
}

@media (max-width: 550px) {
    .volume_mute_button_Startscreen_Fullscreen {
        top: 7vh !important;
    }

    .toggleFullscreeninFullscreen {
        width: 60px;
    }
}

@media(max-width:520px) {
    .gameOverScreen {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
        font-size: 40px;
    }

    .gameOverScreen a {
        color: black;
    }
}

@media(max-width:500px) {
    #playAgainTextWon{
        font-size:40px;
    }
    
    #backToStartWon{
        font-size:40px;
    }
}

@media(max-width:425px) {
    .volume_mute_buttonWhileGameIsRunningInFullscreen{
        left:80%;
    }
}

@media(max-width:400px) {

    .toggleFullscreenWhileGameIsRunning,
    .volume_mute_buttonWhileGameIsRunning {
        width: 40px;
    }

    .gameWonScreen {
        font-size: 40px;
    }
}

@media(max-width:330px){
    #playAgainTextWon{
        left:auto;
        right:auto;
        top:50%;
    }
    
    #backToStartWon{
        left:auto;
        right:auto;
        top:60%;
    }
}

/*Ab hier max-height*/

@media(max-height:955px){
    .toggleFullscreeninFullscreen{
        top:85%;
    }

    .ImpressumUndDatenschutzonFullscreen{
        top:70%;
    }

    #startButton{
        margin-top:0;
    }
}

@media(max-height:895px) {
    #headline {
        display: none;
    }

    .startScreen{
        margin-top:auto;
        margin-bottom:auto;
    }
}

@media(max-height:750px) {
    .toggleFullscreenWhileGameIsRunningInFullscreen {
        bottom: 20px;
        right: 20px;
    }
}

@media(max-height:700px){
    .toggleFullscreeninFullscreen{
        top:85%;
    }

    .ImpressumUndDatenschutzonFullscreen{
        top:65%;
    }
}

@media(max-height:620px) {
    canvas {
        height: 440px;
    }
}

@media(max-height:600px){
    .ImpressumUndDatenschutzonFullscreen{
        top:60%;
    }
}

@media(max-height:500px) {
    canvas {
        height: 100vh;
    }

    .volume_mute_button, .toggleFullscreen{
        width:60px;
    }

    .Impressum{
        font-size:36px;
    }
}

@media(max-height:424px){
    .toggleFullscreeninFullscreen{
        top:75%;
    }

    .ImpressumUndDatenschutzonFullscreen{
        top:40%;
    }
}


/*Ab hier nur StartScreen*/

@media (max-width:1000px){
    .volume_mute_button{
        width:60px;
    }

    .toggleFullscreeninFullscreen, .toggleFullscreen{
        width:60px;
    }

    .Impressum{
        font-size:36px;
    }
}

@media(max-height:523px){
    .ImpressumUndDatenschutzonFullscreen{
        top:50%;
    }
}

@media(max-height:370px){
    .Impressum{
        font-size:36px;
    }
}